# 0.0 Imports

In [43]:
import psycopg2
import pandas as pd

# 1.0 Data Collection

### Database connection

In [27]:
host = "comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com"
port = 5432
database = "comunidadedsdb"
username = "member"
password = "cdspa"

conn = psycopg2.connect(
            host=host,
            port=port,
            database=database,
            user=username,
            password=password
        )

cursor = conn.cursor()

### Getting existing tables from 'pa004' schema

In [35]:
# cursor.execute(
#     "SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname NOT IN ('pg_catalog', 'information_schema', 'public');"
# )

# rows = cursor.fetchall()

# for row in rows:
#     print(row[0])

users
vehicle
insurance

In [36]:
table_names = ["users", "vehicle", "insurance"]

### Getting all data from 'users' table

In [41]:
cursor.execute(
    "SELECT * FROM pa004.insurance LIMIT 5"
)

In [42]:
for row in cursor.fetchall():
    print(row)

(1, 0, 40454.0, 217, 1)
(2, 0, 33536.0, 183, 0)
(3, 0, 38294.0, 27, 1)
(4, 1, 28619.0, 203, 0)
(5, 1, 27496.0, 39, 0)

In [44]:
df_users = pd.read_sql("SELECT * FROM pa004.users", conn)
df_vehicle = pd.read_sql("SELECT * FROM pa004.vehicle", conn)
df_insurance = pd.read_sql("SELECT * FROM pa004.insurance", conn)

C:\Users\allan\AppData\Local\Temp\ipykernel_1244\2509079503.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_users = pd.read_sql("SELECT * FROM pa004.users", conn)
C:\Users\allan\AppData\Local\Temp\ipykernel_1244\2509079503.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vehicle = pd.read_sql("SELECT * FROM pa004.vehicle", conn)
C:\Users\allan\AppData\Local\Temp\ipykernel_1244\2509079503.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_insurance = pd.read_sql("SELECT * FROM pa004.insurance", conn)

In [45]:
df_users.head()

   id  gender  age  region_code  policy_sales_channel
0   1    Male   44         28.0                  26.0
1   2    Male   76          3.0                  26.0
2   3    Male   47         28.0                  26.0
3   4    Male   21         11.0                 152.0
4   5  Female   29         41.0                 152.0

In [46]:
df_vehicle.head()

   id  driving_license vehicle_age vehicle_damage
0   1                1   > 2 Years            Yes
1   2                1    1-2 Year             No
2   3                1   > 2 Years            Yes
3   4                1    < 1 Year             No
4   5                1    < 1 Year             No

In [47]:
df_insurance.head()

   id  previously_insured  annual_premium  vintage  response
0   1                   0         40454.0      217         1
1   2                   0         33536.0      183         0
2   3                   0         38294.0       27         1
3   4                   1         28619.0      203         0
4   5                   1         27496.0       39         0

In [48]:
df_users.age.describe()

count    381109.000000
mean         38.822584
std          15.511611
min          20.000000
25%          25.000000
50%          36.000000
75%          49.000000
max          85.000000
Name: age, dtype: float64

# 2.0 Description and data cleaning

## Data Dictionary

* <b> Id  </b> - Unique ID for the customer
* <b> Gender </b>  - Gender of the customer
* <b> Age </b> 	- Age of the customer
* <b> Driving_License </b>  - 0 : Customer does not have DL, 1 : Customer already has DL
* <b> Region_Code </b>  - Unique code for the region of the customer
* <b> Previously_Insured </b>  - 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance
* <b> Vehicle_Age </b>  - Age of the Vehicle
* <b> Vehicle_Damage </b>  - 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.
* <b> Annual_Premium </b>  - The amount customer needs to pay as premium in the year
* <b> Policy_Sales_Channel </b>  - Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.
* <b> Vintage </b>  - Number of Days, Customer has been associated with the company
* <b> Response </b>  - 1 : Customer is interested, 0 : Customer is not interested