# 0.0 Imports

In [1]:
import psycopg2
import pandas as pd

# 1.0 Data Collection

### Database connection

In [27]:
# host = "comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com"
# port = 5432
# database = "comunidadedsdb"
# username = "member"
# password = "cdspa"

# conn = psycopg2.connect(
#             host=host,
#             port=port,
#             database=database,
#             user=username,
#             password=password
#         )

# cursor = conn.cursor()

### Getting existing tables from 'pa004' schema

In [35]:
# cursor.execute(
#     "SELECT tablename FROM pg_catalog.pg_tables WHERE schemaname NOT IN ('pg_catalog', 'information_schema', 'public');"
# )

# rows = cursor.fetchall()

# for row in rows:
#     print(row[0])

users
vehicle
insurance

### Getting all data from 'users' table

In [54]:
# cursor.execute(
#     "SELECT * FROM pa004.insurance LIMIT 5"
# )

In [55]:
# for row in cursor.fetchall():
#     print(row)

### Getting tables as Pandas Dataframes

In [52]:
# df_users = pd.read_sql("SELECT * FROM pa004.users", conn)
# df_vehicle = pd.read_sql("SELECT * FROM pa004.vehicle", conn)
# df_insurance = pd.read_sql("SELECT * FROM pa004.insurance", conn)

In [53]:
# df_users.to_csv("./data/users.csv")
# df_vehicle.to_csv("./data/vehicle.csv")
# df_insurance.to_csv("./data/insurance.csv")

# 2.0 Data Loading

In [16]:
df_users = pd.read_csv("../data/users.csv")
df_users.drop("Unnamed: 0", axis=1, inplace=True)

df_vehicle = pd.read_csv("../data/vehicle.csv")
df_vehicle.drop("Unnamed: 0", axis=1, inplace=True)

df_insurance = pd.read_csv("../data/insurance.csv")
df_insurance.drop("Unnamed: 0", axis=1, inplace=True)

df_raw = pd.merge(pd.merge(df_users, df_vehicle, on='id'), df_insurance, on='id')

# 3.0 Data description and data cleaning

In [8]:
df1 = df_raw.copy()

## Data Dictionary

* <b> Id  </b> - Unique ID for the customer
* <b> Gender </b>  - Gender of the customer
* <b> Age </b> 	- Age of the customer
* <b> Driving_License </b>  - 0 : Customer does not have DL, 1 : Customer already has DL
* <b> Region_Code </b>  - Unique code for the region of the customer
* <b> Previously_Insured </b>  - 1 : Customer already has Vehicle Insurance, 0 : Customer doesn't have Vehicle Insurance
* <b> Vehicle_Age </b>  - Age of the Vehicle
* <b> Vehicle_Damage </b>  - 1 : Customer got his/her vehicle damaged in the past. 0 : Customer didn't get his/her vehicle damaged in the past.
* <b> Annual_Premium </b>  - The amount customer needs to pay as premium in the year
* <b> Policy_Sales_Channel </b>  - Anonymized Code for the channel of outreaching to the customer ie. Different Agents, Over Mail, Over Phone, In Person, etc.
* <b> Vintage </b>  - Number of Days, Customer has been associated with the company
* <b> Response </b>  - 1 : Customer is interested, 0 : Customer is not interested

## 3.1 Data dimension

In [9]:
shape = df1.shape
print(f'Number of rows: {shape[0]}')
print(f'Number of columns: {shape[1]}')

Number of rows: 381109
Number of columns: 12

## 3.2 Data types

In [10]:
df1.dtypes

id                        int64
gender                   object
age                       int64
region_code             float64
policy_sales_channel    float64
driving_license           int64
vehicle_age              object
vehicle_damage           object
previously_insured        int64
annual_premium          float64
vintage                   int64
response                  int64
dtype: object

* We don't need to make any datatype changes.

## 3.3 Missing data

In [14]:
df1.isnull().sum()

id                      0
gender                  0
age                     0
region_code             0
policy_sales_channel    0
driving_license         0
vehicle_age             0
vehicle_damage          0
previously_insured      0
annual_premium          0
vintage                 0
response                0
dtype: int64

* No missing data.